---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: opsrequests.dbaas.kubeblocks.io
spec:
  group: dbaas.kubeblocks.io
  names:
    categories:
    - dbaas
    - all
    kind: OpsRequest
    listKind: OpsRequestList
    plural: opsrequests
    shortNames:
    - ops
    singular: opsrequest
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Operation request type.
      jsonPath: .spec.type
      name: TYPE
      type: string
    - description: Operand cluster.
      jsonPath: .spec.clusterRef
      name: CLUSTER
      type: string
    - description: Operation status phase.
      jsonPath: .status.phase
      name: PHASE
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: OpsRequest is the Schema for the opsrequests API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: OpsRequestSpec defines the desired state of OpsRequest
            properties:
              clusterOps:
                description: ClusterOps defines cluster level operations, like Upgrade
                properties:
                  upgrade:
                    properties:
                      appVersionRef:
                        description: AppVersionRef reference AppVersion.
                        type: string
                    required:
                    - appVersionRef
                    type: object
                required:
                - upgrade
                type: object
              clusterRef:
                description: ClusterRef reference clusterDefinition resource
                type: string
              componentOps:
                description: ComponentOpsList defines operations in component scope,
                  like VolumeExpansion,VerticalScaling,HorizontalScaling
                items:
                  properties:
                    componentNames:
                      description: ComponentNames defines which components perform
                        the operation.
                      items:
                        type: string
                      minItems: 1
                      type: array
                    horizontalScaling:
                      description: HorizontalScaling defines the variables that need
                        to be input when scaling replicas.
                      properties:
                        replicas:
                          description: Replicas for the workloads.
                          format: int32
                          type: integer
                      type: object
                    verticalScaling:
                      description: VerticalScaling defines the variables that need
                        to be input when scaling compute resources.
                      properties:
                        limits:
                          additionalProperties:
                            anyOf:
                            - type: integer
                            - type: string
                            pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                            x-kubernetes-int-or-string: true
                          description: 'Limits describes the maximum amount of compute
                            resources allowed. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                          type: object
                        requests:
                          additionalProperties:
                            anyOf:
                            - type: integer
                            - type: string
                            pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                            x-kubernetes-int-or-string: true
                          description: 'Requests describes the minimum amount of compute
                            resources required. If Requests is omitted for a container,
                            it defaults to Limits if that is explicitly specified,
                            otherwise to an implementation-defined value. More info:
                            https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                          type: object
                      type: object
                    volumeExpansion:
                      description: VolumeExpansion defines the variables that need
                        to be input when expanding a volume.
                      items:
                        properties:
                          name:
                            description: ClusterComponentVolumeClaimTemplate.Name
                            type: string
                          storage:
                            anyOf:
                            - type: integer
                            - type: string
                            description: The request storage size.
                            pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                            x-kubernetes-int-or-string: true
                        required:
                        - name
                        - storage
                        type: object
                      type: array
                  required:
                  - componentNames
                  type: object
                type: array
              ttlSecondsAfterSucceed:
                description: TTLSecondsAfterSucceed OpsRequest will be deleted after
                  TTLSecondsAfterSucceed second when OpsRequest.status.phase is Running
                format: int32
                type: integer
              type:
                description: Type defines the operation type
                enum:
                - Upgrade
                - VerticalScaling
                - VolumeExpansion
                - HorizontalScaling
                - Restart
                type: string
            required:
            - clusterRef
            - type
            type: object
          status:
            description: OpsRequestStatus defines the observed state of OpsRequest
            properties:
              StartTimestamp:
                description: this means when start processing OpsRequest, status.Phase
                  is Running
                format: date-time
                type: string
              completionTimestamp:
                description: the OpsRequest completion time
                format: date-time
                type: string
              components:
                additionalProperties:
                  properties:
                    phase:
                      description: Phase describe the component phase, Reference ClusterDefinition.status.component.phase.
                      enum:
                      - Running
                      - Failed
                      - Abnormal
                      - Creating
                      - Updating
                      - Deleting
                      - Deleted
                      type: string
                  type: object
                description: Components record the status information of components
                  with spec.componentOps.componentNames
                type: object
              conditions:
                description: describe opsRequest detail status
                items:
                  description: "Condition contains details for one aspect of the current
                    state of this API Resource. --- This struct is intended for direct
                    use as an array at the field path .status.conditions.  For example,
                    type FooStatus struct{ // Represents the observations of a foo's
                    current state. // Known .status.conditions.type are: \"Available\",
                    \"Progressing\", and \"Degraded\" // +patchMergeKey=type // +patchStrategy=merge
                    // +listType=map // +listMapKey=type Conditions []metav1.Condition
                    `json:\"conditions,omitempty\" patchStrategy:\"merge\" patchMergeKey:\"type\"
                    protobuf:\"bytes,1,rep,name=conditions\"` \n // other fields }"
                  properties:
                    lastTransitionTime:
                      description: lastTransitionTime is the last time the condition
                        transitioned from one status to another. This should be when
                        the underlying condition changed.  If that is not known, then
                        using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: message is a human readable message indicating
                        details about the transition. This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: observedGeneration represents the .metadata.generation
                        that the condition was set based upon. For instance, if .metadata.generation
                        is currently 12, but the .status.conditions[x].observedGeneration
                        is 9, the condition is out of date with respect to the current
                        state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: reason contains a programmatic identifier indicating
                        the reason for the condition's last transition. Producers
                        of specific condition types may define expected values and
                        meanings for this field, and whether the values are considered
                        a guaranteed API. The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                        --- Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important. The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                description: observedGeneration is the most recent generation observed
                  for this Cluster. It corresponds to the Cluster's generation, which
                  is updated on mutation by the API Server.
                format: int64
                type: integer
              phase:
                description: Phase defines the CR .Status.Phase
                enum:
                - Pending
                - Running
                - Failed
                - Succeed
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
