apiVersion: apps.kubeblocks.io/v1alpha1
kind: ClusterDefinition
metadata:
  name: vllm
  labels:
    {{- include "llm.labels" . | nindent 4}}
spec:
  componentDefs:
    - name: vllm
      workloadType: Stateful
      characterType: vllm
      scriptSpecs:
        - name: vllm-scripts
          templateRef: vllm-scripts
          namespace: {{ .Release.Namespace }}
          volumeName: scripts
          defaultMode: 493
      service:
        ports:
          - name: model
            port: 8000
            targetPort: model
      podSpec:
        volumes:
          - name: dshm
            emptyDir:
              medium: Memory
          - name: model-store
            emptyDir: {}
        containers:
          - name: vllm
            imagePullPolicy: {{default .Values.image.pullPolicy "IfNotPresent"}}
            securityContext:
              runAsUser: 0
              privileged: true
              allowPrivilegeEscalation: true
            terminationMessagePath: /dev/termination-log
            terminationMessagePolicy: File
            volumeMounts:
              - mountPath: /dev/shm
                name: dshm
              - mountPath: /llm/config/
                name: config
              - name: scripts
                mountPath: /scripts
              - mountPath: /llm/storage
                name: model-store
            command:
              - /scripts/start.sh
            ports:
              - name: model
                containerPort: 8000
  connectionCredential:
    username: root
    password: ""

---
apiVersion: apps.kubeblocks.io/v1alpha1
kind: ClusterDefinition
metadata:
  name: ggml
  labels:
    {{- include "llm.labels" . | nindent 4}}
spec:
  componentDefs:
    - name: ggml
      workloadType: Stateful
      characterType: ggml
      scriptSpecs:
        - name: ggml-scripts
          templateRef: ggml-scripts
          namespace: {{ .Release.Namespace }}
          volumeName: scripts
          defaultMode: 493
      service:
        ports:
          - name: model
            port: 8000
            targetPort: model
      podSpec:
        volumes:
          - name: models
            emptyDir: {}
        containers:
          - name: ggml
            imagePullPolicy: {{default .Values.imageDev.pullPolicy "IfNotPresent"}}
            securityContext:
              runAsUser: 0
              privileged: true
              allowPrivilegeEscalation: true
            terminationMessagePath: /dev/termination-log
            terminationMessagePolicy: File
            volumeMounts:
              - name: models
                mountPath: /models
              - name: scripts
                mountPath: /scripts
            command:
              - /scripts/start.sh
            ports:
              - name: model
                containerPort: 8000
  connectionCredential:
    username: root
    password: ""