{{- $cc := .Files.Get "config/pg12-config-effect-scope.yaml" | fromYaml }}
apiVersion: apps.kubeblocks.io/v1alpha1
kind: ConfigConstraint
metadata:
  name: apecloud-postgresql12-cc
  labels:
    {{- include "apecloud-postgresql.labels" . | nindent 4 }}
spec:
  # top level mysql configuration type
  cfgSchemaTopLevelName: PGParameter

  # ConfigurationSchema that impose restrictions on engine parameter's rule
  configurationSchema:
    # schema: auto generate from mmmcue scripts
    # example: ../../internal/configuration/testdata/mysql_openapi.json
    cue: |-
      {{- .Files.Get "config/pg12-config-constraint.cue" | nindent 6 }}
    # configuration file format
  formatterConfig:
    format: properties
