apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kubeblocks.fullname" . }}-manager-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
data:
  config.yaml: |
    # the default storage class name.
    DEFAULT_STORAGE_CLASS: {{ include "kubeblocks.defaultStorageClass" . | quote }}

    {{- with .Values.registryConfig }}
    registries:
      {{- toYaml . | nindent 6 }}
    {{- end }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kubeblocks.fullname" . }}-host-ports
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
data: {}