apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kubeblocks.fullname" . }}
  namespace: {{ .Release.Namespace }}
  {{- with .Values.deployAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
    app.kubernetes.io/component: "apps"
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ include "kubeblocks.replicaCount" . }}
  {{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/component: "apps"
      {{- include "kubeblocks.selectorLabels" . | nindent 6 }}
      {{- with .Values.extraLabels }}
        {{- toYaml . | nindent 6 }}
      {{- end }}
  {{- if .Values.updateStrategy }}
  strategy:
    {{ toYaml .Values.updateStrategy | nindent 4 | trim }}
  {{- end }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/component: "apps"
        {{- include "kubeblocks.selectorLabels" . | nindent 8 }}
        {{- with .Values.extraLabels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      priorityClassName: {{ template "kubeblocks.priorityClassName" . }}
      {{- with .Values.image.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "kubeblocks.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers: # only download tools image to local
        - name: tools
          image: "{{ .Values.image.registry | default "docker.io" }}/{{ .Values.image.tools.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            limits:
              cpu: 50m
              memory: 64Mi
            requests:
              cpu: 50m
              memory: 64Mi
          command:
            - /bin/true
      containers:
        - name: manager
          args:
            - "--health-probe-bind-address=:8081"
            - "--metrics-bind-address=:8080"
            - "--leader-elect"
            {{- with .Values.manager.leaderElection }}
            - "--leader-elect-id={{- default "001c317f" .Id }}"
            {{- end }}
            {{- if .Values.manager.leaderElection.leaseDuration }}
            - "--leader-elect-lease-duration={{ .Values.manager.leaderElection.leaseDuration }}"
            {{- end }}
            {{- if .Values.manager.leaderElection.renewDeadline }}
            - "--leader-elect-renew-deadline={{ .Values.manager.leaderElection.renewDeadline }}"
            {{- end }}
            {{- if .Values.manager.leaderElection.retryPeriod }}
            - "--leader-elect-retry-period={{ .Values.manager.leaderElection.retryPeriod }}"
            {{- end }}
            - "--zap-devel={{- default "false" .Values.loggerSettings.developmentMode }}"
            - "--zap-time-encoding={{- default "iso8601" .Values.loggerSettings.timeEncoding }}"
            {{- with .Values.loggerSettings.level }}
            - "--zap-log-level={{ . }}"
            {{- end }}
            {{- with .Values.loggerSettings.encoder }}
            - "--zap-encoder={{ . }}"
            {{- end }}
            - "--apps={{ ne .Values.controllers.apps.enabled false }}"
            - "--workloads={{ ne .Values.controllers.workloads.enabled false }}"
            - "--operations={{ ne .Values.controllers.operations.enabled false }}"
            - "--extensions={{- default "true" ( include "kubeblocks.addonControllerEnabled" . ) }}"
            - "--experimental={{- default "false" .Values.controllers.experimental.enabled }}"
            - "--trace={{- default "false" .Values.controllers.trace.enabled }}"
            {{- with .Values.managedNamespaces }}
            - "--managed-namespaces={{ . }}"
            {{- end }}
            {{- if .Values.multiCluster.kubeConfig }}
            - "--multi-cluster-kubeconfig={{ .Values.multiCluster.mountPath }}/kubeconfig"
            {{- end }}
            {{- if .Values.multiCluster.contexts }}
            - "--multi-cluster-contexts={{ .Values.multiCluster.contexts }}"
            {{- end }}
            {{- if .Values.multiCluster.contextsDisabled }}
            - "--multi-cluster-contexts-disabled={{ .Values.multiCluster.contextsDisabled }}"
            {{- end }}
            {{- if .Values.userAgent }}
            - "--user-agent={{ .Values.userAgent }}"
            {{- end }}
          env:
            - name: CM_NAMESPACE
              value: {{ .Release.Namespace }}
            {{- with .Values.affinity }}
            - name: CM_AFFINITY
              value: {{ toJson . | quote }}
            {{- end }}
            {{- if .Values.reconcileWorkers }}
            - name: KUBEBLOCKS_RECONCILE_WORKERS
              value: {{ .Values.reconcileWorkers | quote }}
            {{- end }}
            {{- if .Values.cache.syncTimeout }}
            - name: CACHE_SYNC_TIMEOUT
              value: {{ .Values.cache.syncTimeout | quote }}
            {{- end }}
            {{- if .Values.client.qps }}
            - name: CLIENT_QPS
              value: {{ .Values.client.qps | quote }}
            {{- end }}
            {{- if .Values.client.burst }}
            - name: CLIENT_BURST
              value: {{ .Values.client.burst | quote }}
            {{- end }}
            {{- with .Values.nodeSelector }}
            - name: CM_NODE_SELECTOR
              value: {{ toJson . | quote }}
            {{- end }}
            {{- with .Values.tolerations }}
            - name: CM_TOLERATIONS
              value: {{ toJson . | quote }}
            {{- end }}
            - name: KUBEBLOCKS_IMAGE_PULL_POLICY
              value: {{ .Values.image.pullPolicy }}
            - name: KUBEBLOCKS_IMAGE_PULL_SECRETS
              value: {{ .Values.image.imagePullSecrets | toJson | quote }}
            - name: KUBEBLOCKS_TOOLS_IMAGE
              value: "{{ .Values.image.registry | default "docker.io" }}/{{ .Values.image.tools.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
            - name: KUBEBLOCKS_SERVICEACCOUNT_NAME
              value: {{ include "kubeblocks.serviceAccountName" . }}
            {{- if .Capabilities.APIVersions.Has "snapshot.storage.k8s.io/v1" }}
            - name: VOLUMESNAPSHOT_API_BETA
              value: "false"
            {{- else if .Capabilities.APIVersions.Has "snapshot.storage.k8s.io/v1beta1" }}
            - name: VOLUMESNAPSHOT_API_BETA
              value: "true"
            {{- end }}
            {{- if .Values.webhooks.conversionEnabled }}
            - name: ENABLE_WEBHOOKS
              value: "true"
            {{- end }}
            - name: ENABLE_RBAC_MANAGER
              value: {{ .Values.rbac.enabled | quote}}
            {{- if ( include "kubeblocks.addonControllerEnabled" . ) | deepEqual "true" }}
            {{- with .Values.addonController }}
            - name: ADDON_JOB_TTL
              value: {{ .jobTTL | quote }}
            - name: ADDON_JOB_IMAGE_PULL_POLICY
              value: {{ .jobImagePullPolicy | default "IfNotPresent" }}
            - name: ADDON_JOB_TIMEOUT
              value: {{ .jobTimeout | quote }}
            {{- end }}
            - name: KUBEBLOCKS_ADDON_HELM_INSTALL_OPTIONS
              value: {{ join " " .Values.addonHelmInstallOptions }}
            - name: KUBEBLOCKS_ADDON_CHARTS_IMAGE_PULL_POLICY
              value: {{ .Values.addonChartsImage.pullPolicy | default "IfNotPresent" }}
            {{- end }}
            - name: DP_ENCRYPTION_KEY
              valueFrom:
                secretKeyRef:
                  {{- include "dataprotection.encryptionKeySecretKeyRef" . | nindent 18 }}
            - name: KUBE_PROVIDER
              value: {{ .Values.provider | quote }}
            - name: HOST_PORT_INCLUDE_RANGES
              value: '{{ join "," .Values.hostPorts.include }}'
            - name: HOST_PORT_EXCLUDE_RANGES
              value: '{{ join "," .Values.hostPorts.exclude }}'
            - name: HOST_PORT_CM_NAME
              value: {{ include "kubeblocks.fullname" . }}-host-ports
            {{- if .Values.serviceMonitor.goRuntime.enabled }}
            - name: ENABLED_RUNTIME_METRICS
              value: "true"
            {{- end }}
            {{- if .Values.featureGates.ignoreConfigTemplateDefaultMode.enabled }}
            - name: IGNORE_CONFIG_TEMPLATE_DEFAULT_MODE
              value: "true"
            {{- end }}
            {{- if .Values.featureGates.ignorePodVerticalScaling.enabled }}
            - name: IGNORE_POD_VERTICAL_SCALING
              value: "true"
            {{- end }}
            - name: COMPONENT_REPLICAS_ANNOTATION
              value: {{ .Values.featureGates.componentReplicasAnnotation.enabled | quote }}
            - name: IN_PLACE_POD_VERTICAL_SCALING
              value: {{ .Values.featureGates.inPlacePodVerticalScaling.enabled | quote }}
            {{- if .Values.controllers.trace.enabled }}
            - name: I18N_RESOURCES_NAME
              value: {{ include "kubeblocks.i18nResourcesName" . }}
            {{- end }}
            {{- if .Values.extraEnvs }}
            {{- toYaml .Values.extraEnvs | nindent 12 }}
            {{- end }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.registry | default "docker.io" }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: webhook-server
              containerPort: 9443
              protocol: TCP
            - name: health
              containerPort: 8081
              protocol: TCP
            - name: metrics
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: health
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: health
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: {{ .Values.resources.cpu }}
              memory: {{ .Values.resources.memory }}
            requests:
              cpu: {{ .Values.resources.cpu }}
              memory: {{ .Values.resources.memory }}
          volumeMounts:
            - mountPath: /etc/kubeblocks
              name: manager-config
            {{- if .Values.webhooks.conversionEnabled }}
            - mountPath: /tmp/k8s-webhook-server/serving-certs
              name: cert
              readOnly: true
            {{- end }}
            {{- if .Values.multiCluster.kubeConfig }}
            - mountPath: {{ .Values.multiCluster.mountPath }}
              name: multi-cluster-kubeconfig
              readOnly: true
            {{- end }}
      {{- if .Values.hostNetwork }}
      hostNetwork: {{ .Values.hostNetwork }}
      {{- end }}
      {{- if .Values.dnsPolicy }}
      dnsPolicy: {{ .Values.dnsPolicy }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      terminationGracePeriodSeconds: 10
      volumes:
        - name: manager-config
          configMap:
            name: {{ include "kubeblocks.fullname" . }}-manager-config
        {{- if .Values.webhooks.conversionEnabled }}
        - name: cert
          secret:
            defaultMode: 420
            secretName: {{ include "kubeblocks.fullname" . }}.{{ .Release.Namespace }}.svc.tls-pair
        {{- end }}
        {{- if .Values.multiCluster.kubeConfig }}
        - name: multi-cluster-kubeconfig
          secret:
            secretName: {{ .Values.multiCluster.kubeConfig }}
            defaultMode: 420
        {{- end }}
