{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "kubeblocks.serviceAccountName" . }}
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
---
  {{- if .Values.addonController.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "kubeblocks.addonSAName" . }}
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
    {{- with .Values.serviceAccount.annotations }}
  annotations:
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}
{{- end }}
