{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "kubeblocks.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.image.imagePullSecrets }}
imagePullSecrets:
    {{- toYaml . | nindent 2 }}
  {{- end }}

{{- if ( include "kubeblocks.addonControllerEnabled" . ) | deepEqual "true" }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "kubeblocks.addonSAName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
    {{- with .Values.serviceAccount.annotations }}
  annotations:
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.addonChartsImage.pullSecrets }}
imagePullSecrets:
    {{- toYaml . | nindent 2 }}
  {{- end }}
{{- end }}

{{- if and .Values.dataProtection.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "dataprotection.execWorkerSAName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
  {{- with .Values.image.imagePullSecrets }}
imagePullSecrets:
  {{- toYaml . | nindent 2 }}
  {{- end }}
{{- end }}

{{- end }}