* @apecloud/kb-reviewers

# Default
apis/ @leon-ape @apecloud/kb-reviewers
cmd/ @leon-ape @apecloud/kb-reviewers
controllers/ @leon-ape @apecloud/kb-reviewers
pkg/ @leon-ape @apecloud/kb-reviewers

# Operations
apis/operations/ @wangyelei @apecloud/kb-reviewers
controllers/operations/ @wangyelei @apecloud/kb-reviewers
pkg/operations/ @wangyelei @apecloud/kb-reviewers

# DataProtection
apis/dataprotection/ @ldming @wangyelei @apecloud/kb-reviewers
controllers/dataprotection/ @ldming @wangyelei @apecloud/kb-reviewers
pkg/dataprotection/ @ldming @wangyelei @apecloud/kb-reviewers

# Parameters
apis/parameters/ @kizuna-lek @apecloud/kb-reviewers
controllers/parameters/ @kizuna-lek @apecloud/kb-reviewers
pkg/parameters/ @kizuna-lek @apecloud/kb-reviewers

# Extensions
apis/extensions/ @ldming @apecloud/kb-reviewers
controllers/extensions/ @ldming @apecloud/kb-reviewers

# Docs
docs/ @shanshanying @apecloud/kb-reviewers
i18n/ @shanshanying @apecloud/kb-reviewers
docs/developer_docs/api-reference/

# Examples
examples/ @ahjing99 @shanshanying @apecloud/kb-reviewers

# Tests
.github/ @JashBook @ahjing99 @apecloud/kb-reviewers