# Default values for milvus.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.


clusterVersionOverride: ""
nameOverride: ""
fullnameOverride: ""


## @param commonLabels Labels to add to all deployed objects
##
commonLabels: {}

## @param application images
##
images:
  pullPolicy: IfNotPresent
  minio:
    repository: docker.io/minio/minio
    tag: RELEASE.2022-03-17T06-34-49Z
  etcd:
    repository: docker.io/milvusdb/etcd
    tag: 3.5.5-r2
  milvus_init:
    repository: docker.io/milvusdb/milvus-operator
    tag: v0.7.8
  milvus:
    repository: docker.io/milvusdb/milvus
    tag: v2.2.4

## @param debugEnabled enables containers' debug logging
##
debugEnabled: true