# Mac OS X files
.DS_Store

# ignore go generate code files
pkg/testutil/k8s/mocks/*_mocks.go
pkg/configuration/proto/mocks/*_mocks.go
pkg/configuration/container/mocks/*_mocks.go
# pkg/configuration/proto/*.pb.go

# ignore go mock temporary files
**/gomock_reflect*/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.tar.gz
**/*.tgz
bin
testbin/*
__debug_bin

output
helm-output


# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.out.*
cover.html
.coverage/

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# editor and IDE paraphernalia
.vscode/
.idea/
.history/
.run/
.vimrc
*.swp
*.swo
*~

# Dependency directories (remove the comment below to include it)
vendor/
pkg/resources/static/k3s
pkg/resources/static/k3d/

# Distribution directories
_dist/
dist/
bin/
tmp/


# helm dependency charts
deploy/**/Chart.lock
deploy/**/charts

# cli embed chart directory
pkg/cli/cluster/charts/

# ignore test result
test/e2e/report.json
test/e2e/*.txt

# ignore mirrord
.mirrord