apiVersion: v1
kind: ConfigMap
metadata:
  name: apecloud-mysql-scripts
  labels:
    {{- include "apecloud-mysql.labels" . | nindent 4 }}
data:
  setup.sh: |
    #!/bin/bash
    exec docker-entrypoint.sh
  pre-stop.sh: |
    #!/bin/bash
    drop_followers() {
    leader=`cat /etc/annotations/leader`
    echo "leader=$leader" >> /data/mysql/.kb_pre_stop.log
    echo "KB_POD_NAME=$KB_POD_NAME" >> /data/mysql/.kb_pre_stop.log
    if [ -z "$leader" -o "$KB_POD_NAME" = "$leader" ]; then
      echo "no leader or self is leader, exit" >> /data/mysql/.kb_pre_stop.log
      exit 0
    fi
    host=$(eval echo \$KB_MYSQL_"$idx"_HOSTNAME)
    echo "host=$host" >> /data/mysql/.kb_pre_stop.log
    leader_idx=${leader##*-}
    leader_host=$(eval echo \$KB_MYSQL_"$leader_idx"_HOSTNAME)
    if [ ! -z $leader_host ]; then 
      host_flag="-h$leader_host"
    fi
    if [ ! -z $MYSQL_ROOT_PASSWORD ]; then 
      password_flag="-p$MYSQL_ROOT_PASSWORD"
    fi
    echo "mysql $host_flag -uroot $password_flag -e \"call dbms_consensus.downgrade_follower('$host:13306');\" 2>&1 " >> /data/mysql/.kb_pre_stop.log
    mysql $host_flag -uroot $password_flag -e "call dbms_consensus.downgrade_follower('$host:13306');" 2>&1
    echo "mysql $host_flag -uroot $password_flag -e \"call dbms_consensus.drop_learner('$host:13306');\" 2>&1 " >> /data/mysql/.kb_pre_stop.log
    mysql $host_flag -uroot $password_flag -e "call dbms_consensus.drop_learner('$host:13306');" 2>&1
    }
    idx=${KB_POD_NAME##*-}
    current_component_replicas=`cat /etc/annotations/component-replicas`
    echo "current replicas: $current_component_replicas" >> /data/mysql/.kb_pre_stop.log
    if [ ! $idx -lt $current_component_replicas ] && [ $current_component_replicas -ne 0 ]; then 
        # if idx greater than or equal to current_component_replicas means the cluster's scaling in
        # only scaling in need to drop followers
        drop_followers
    else 
        echo "no need to drop followers" >> /data/mysql/.kb_pre_stop.log
    fi
