# Default values for redis.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  # refer: https://redis.io/docs/stack/
  # Redis Stack Server, which combines open source Redis with RediSearch, RedisJSON, RedisGraph, RedisTimeSeries, and RedisBloom,
  # is dual-licensed under the Redis Source Available License (RSALv2), as described below, and the Server Side Public License (SSPL)
  # For information about licensing per version, see https://redis.io/docs/stack/license/
  repository: redis/redis-stack-server
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: 7.0.6-RC8

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
clusterVersionOverride: ""

logConfigs:
  running: /data/running.log
