---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-dbaas-infracreate-com-v1alpha1-appversion
  failurePolicy: Fail
  name: mappversion.kb.io
  rules:
  - apiGroups:
    - dbaas.infracreate.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - appversions
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-dbaas-infracreate-com-v1alpha1-cluster
  failurePolicy: Fail
  name: mcluster.kb.io
  rules:
  - apiGroups:
    - dbaas.infracreate.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - clusters
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-dbaas-infracreate-com-v1alpha1-clusterdefinition
  failurePolicy: Fail
  name: mclusterdefinition.kb.io
  rules:
  - apiGroups:
    - dbaas.infracreate.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - clusterdefinitions
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-dbaas-infracreate-com-v1alpha1-opsdefinition
  failurePolicy: Fail
  name: mopsdefinition.kb.io
  rules:
  - apiGroups:
    - dbaas.infracreate.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - opsdefinitions
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-dbaas-infracreate-com-v1alpha1-opsrequest
  failurePolicy: Fail
  name: mopsrequest.kb.io
  rules:
  - apiGroups:
    - dbaas.infracreate.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - opsrequests
  sideEffects: None
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-v1-pod
  failurePolicy: Fail
  name: mpod.kb.io
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - CREATE
    resources:
    - pods
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-dbaas-infracreate-com-v1alpha1-appversion
  failurePolicy: Fail
  name: vappversion.kb.io
  rules:
  - apiGroups:
    - dbaas.infracreate.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - appversions
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-dbaas-infracreate-com-v1alpha1-cluster
  failurePolicy: Fail
  name: vcluster.kb.io
  rules:
  - apiGroups:
    - dbaas.infracreate.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - clusters
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-dbaas-infracreate-com-v1alpha1-clusterdefinition
  failurePolicy: Fail
  name: vclusterdefinition.kb.io
  rules:
  - apiGroups:
    - dbaas.infracreate.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - clusterdefinitions
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-dbaas-infracreate-com-v1alpha1-opsdefinition
  failurePolicy: Fail
  name: vopsdefinition.kb.io
  rules:
  - apiGroups:
    - dbaas.infracreate.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - opsdefinitions
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-dbaas-infracreate-com-v1alpha1-opsrequest
  failurePolicy: Fail
  name: vopsrequest.kb.io
  rules:
  - apiGroups:
    - dbaas.infracreate.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - opsrequests
  sideEffects: None
