apiVersion: extensions.kubeblocks.io/v1alpha1
kind: Addon
metadata:
  name: bytebase
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
    "kubeblocks.io/provider": community
  {{- if .Values.keepAddons }}
  annotations:
    helm.sh/resource-policy: keep
  {{- end }}
spec:
  description: 'Bytebase is Database DevOps and CI/CD for Developer, DBA and Platform Engineering team.'
  type: Helm

  helm:
    # use the ApeCloud's chart repository since Bytebase's image doesn't currently support ARM64
    chartLocationURL: https://jihulab.com/api/v4/projects/85949/packages/helm/stable/charts/bytebase-0.4.0.tgz
  installable:
    autoInstall: false

  defaultInstallValues:
    - enabled: true

