{{- $selectorLabels := include "kubeblocks.selectorLabels" . }}
{{- include "kubeblocks.buildAddonCR" (merge (dict
  "kbVersion" ">=0.7.0"
  "selectorLabels" $selectorLabels
  "name" "milvus"
  "version" "0.7.0"
  "model" "vector"
  "provider" "community"
  "description" "Milvus is an open source (Apache-2.0 licensed) vector database built to power embedding similarity search and AI applications."
  "autoInstall" false) . ) -}}
