{{- if has "mongodb" .Values.autoInstalledAddons  }}
{{- if eq (include "kubeblocks.installAddons" (merge (dict "name" "mongodb") .)) "true" }}
{{- $selectorLabels := include "kubeblocks.selectorLabels" . }}
{{- include "kubeblocks.buildAddonCR" (merge (dict
  "kbVersion" ">=0.7.0"
  "selectorLabels" $selectorLabels
  "name" "mongodb"
  "version" "1.0.0-alpha.0"
  "model" "document"
  "provider" "apecloud"
  "description" "MongoDB is a document database designed for ease of application development and scaling."
  "autoInstall" true) . ) -}}
  {{- end }}
{{- end }}