{{- if has "mysql" .Values.autoInstalledAddons  }}
{{- $selectorLabels := include "kubeblocks.selectorLabels" . }}
{{- include "kubeblocks.buildAddonCR" (merge (dict
  "kbVersion" ">=1.0.0"
  "selectorLabels" $selectorLabels
  "name" "mysql"
  "version" "1.0.0"
  "model" "RDBMS"
  "provider" "community"
  "description" "MySQL is a widely used, open-source relational database management system (RDBMS)."
  "autoInstall" true) . ) -}}
{{- end }}