---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - statefulsets/finalizers
  verbs:
  - update
- apiGroups:
  - apps
  resources:
  - statefulsets/status
  verbs:
  - get
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - clusterdefinitions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - clusterdefinitions/finalizers
  verbs:
  - update
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - clusterdefinitions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - clusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - clusters/finalizers
  verbs:
  - update
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - clusters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - componentdefinitions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - componentdefinitions/finalizers
  verbs:
  - update
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - componentdefinitions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - components
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - components/finalizers
  verbs:
  - update
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - components/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - componentversions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - componentversions/finalizers
  verbs:
  - update
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - componentversions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - servicedescriptors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - servicedescriptors/finalizers
  verbs:
  - update
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - servicedescriptors/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - shardingdefinitions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - shardingdefinitions/finalizers
  verbs:
  - update
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - shardingdefinitions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - sidecardefinitions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - sidecardefinitions/finalizers
  verbs:
  - update
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - sidecardefinitions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - batch
  resources:
  - cronjobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - cronjobs/finalizers
  verbs:
  - patch
  - update
- apiGroups:
  - batch
  resources:
  - cronjobs/status
  verbs:
  - get
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs/finalizers
  verbs:
  - update
- apiGroups:
  - batch
  resources:
  - jobs/status
  verbs:
  - get
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmap
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmap/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - get
  - list
  - patch
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - persistentvolumes
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods/exec
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - pods/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - pods/log
  verbs:
  - get
  - list
- apiGroups:
  - ""
  resources:
  - pods/status
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - serviceaccounts/status
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - services/status
  verbs:
  - get
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - actionsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - actionsets/finalizers
  verbs:
  - update
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - actionsets/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - backuppolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - backuppolicies/finalizers
  verbs:
  - update
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - backuppolicies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - backuppolicytemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - backuppolicytemplates/finalizers
  verbs:
  - update
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - backuppolicytemplates/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - backuprepos
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - backuprepos/finalizers
  verbs:
  - update
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - backuprepos/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - backups
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - backups/finalizers
  verbs:
  - update
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - backups/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - backupschedules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - backupschedules/finalizers
  verbs:
  - update
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - backupschedules/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - restores
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - restores/finalizers
  verbs:
  - update
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - restores/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - storageproviders
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - storageproviders/finalizers
  verbs:
  - update
- apiGroups:
  - dataprotection.kubeblocks.io
  resources:
  - storageproviders/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - experimental.kubeblocks.io
  resources:
  - nodecountscalers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - experimental.kubeblocks.io
  resources:
  - nodecountscalers/finalizers
  verbs:
  - update
- apiGroups:
  - experimental.kubeblocks.io
  resources:
  - nodecountscalers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - extensions.kubeblocks.io
  resources:
  - addons
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - extensions.kubeblocks.io
  resources:
  - addons/finalizers
  verbs:
  - update
- apiGroups:
  - extensions.kubeblocks.io
  resources:
  - addons/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - operations.kubeblocks.io
  resources:
  - opsdefinitions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operations.kubeblocks.io
  resources:
  - opsdefinitions/finalizers
  verbs:
  - update
- apiGroups:
  - operations.kubeblocks.io
  resources:
  - opsdefinitions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - operations.kubeblocks.io
  resources:
  - opsrequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operations.kubeblocks.io
  resources:
  - opsrequests/finalizers
  verbs:
  - update
- apiGroups:
  - operations.kubeblocks.io
  resources:
  - opsrequests/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - parameters.kubeblocks.io
  resources:
  - componentparameters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - parameters.kubeblocks.io
  resources:
  - componentparameters/finalizers
  verbs:
  - update
- apiGroups:
  - parameters.kubeblocks.io
  resources:
  - componentparameters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - parameters.kubeblocks.io
  resources:
  - paramconfigrenderers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - parameters.kubeblocks.io
  resources:
  - paramconfigrenderers/finalizers
  verbs:
  - update
- apiGroups:
  - parameters.kubeblocks.io
  resources:
  - paramconfigrenderers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - parameters.kubeblocks.io
  resources:
  - parameters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - parameters.kubeblocks.io
  resources:
  - parameters/finalizers
  verbs:
  - update
- apiGroups:
  - parameters.kubeblocks.io
  resources:
  - parameters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - parameters.kubeblocks.io
  resources:
  - parametersdefinitions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - parameters.kubeblocks.io
  resources:
  - parametersdefinitions/finalizers
  verbs:
  - update
- apiGroups:
  - parameters.kubeblocks.io
  resources:
  - parametersdefinitions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings/status
  verbs:
  - get
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles/status
  verbs:
  - get
- apiGroups:
  - snapshot.storage.k8s.io
  resources:
  - volumesnapshotclasses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - snapshot.storage.k8s.io
  resources:
  - volumesnapshotclasses/finalizers
  verbs:
  - patch
  - update
- apiGroups:
  - snapshot.storage.k8s.io
  resources:
  - volumesnapshots
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - snapshot.storage.k8s.io
  resources:
  - volumesnapshots/finalizers
  verbs:
  - patch
  - update
- apiGroups:
  - storage.k8s.io
  resources:
  - csidrivers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - create
  - delete
  - get
  - list
  - watch
- apiGroups:
  - trace.kubeblocks.io
  resources:
  - reconciliationtraces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - trace.kubeblocks.io
  resources:
  - reconciliationtraces/finalizers
  verbs:
  - update
- apiGroups:
  - trace.kubeblocks.io
  resources:
  - reconciliationtraces/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - workloads.kubeblocks.io
  resources:
  - instancesets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - workloads.kubeblocks.io
  resources:
  - instancesets/finalizers
  verbs:
  - update
- apiGroups:
  - workloads.kubeblocks.io
  resources:
  - instancesets/status
  verbs:
  - get
  - patch
  - update
