# permissions for end users to edit clusterdefinitions.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kubeblocks.fullname" . }}-clusterdefinition-editor-role
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
rules:
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - clusterdefinitions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - clusterdefinitions/status
  verbs:
  - get
