# permissions for end users to edit clusters.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kubeblocks.fullname" . }}-cluster-pod-role
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
aggregationRule:
  clusterRoleSelectors:
  - matchLabels:
      {{- include "kubeblocks.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/required-by: pod
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kubeblocks.fullname" . }}-agent-pod-role
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
    app.kubernetes.io/required-by: pod
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - delete
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - clusters
  verbs:
  - get
  - list
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - clusters/status
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - opsrequests/status
  verbs:
  - get
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kubeblocks.fullname" . }}-patroni-pod-role
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
    app.kubernetes.io/required-by: pod
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
  # delete is required only for 'patronictl remove'
  - delete
- apiGroups:
  - ""
  resources:
  - endpoints
  verbs:
  - get
  - patch
  - update
  - create
  - list
  - watch
  # delete is required only for 'patronictl remove'
  - delete
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch