{{- $execWorkerRoleName := (include "dataprotection.execWorkerRoleName" .) }}
{{- if eq (include "kubeblocks.installClusterRole" (merge (dict "name" $execWorkerRoleName) .)) "true" }}
# permissions for dataprotection workers to run "kubectl exec".
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "dataprotection.execWorkerRoleName" . }}
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - pods/exec
  verbs:
  - create
{{- end }}