# permissions for end users to view clusters.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kubeblocks.fullname" . }}-cluster-viewer-role
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
rules:
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - clusters
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - clusters/status
  verbs:
  - get
