# permissions for end users to view opsrequests.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kubeblocks.fullname" . }}-opsrequest-viewer-role
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
rules:
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - opsrequests
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - opsrequests/status
  verbs:
  - get
