# permissions for end users to edit paramconfigrenderers.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kubeblocks.fullname" . }}-rbac-role
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - roles
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - roles/status
    verbs:
      - get
      - patch
      - update