# permissions for end users to view instancesets.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
  name: {{ include "kubeblocks.fullname" . }}-instanceset-viewer-role
rules:
- apiGroups:
  - workloads.kubeblocks.io
  resources:
  - instancesets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - workloads.kubeblocks.io
  resources:
  - instancesets/status
  verbs:
  - get
