# permissions for end users to edit instancesets.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "kubeblocks.labels" . | nindent 4 }}
  annotations:
    {{- include "kubeblocks.keepResource" . | nindent 4 }}
  name: {{ include "kubeblocks.fullname" . }}-instanceset-editor-role
rules:
- apiGroups:
  - workloads.kubeblocks.io
  resources:
  - instancesets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - workloads.kubeblocks.io
  resources:
  - instancesets/status
  verbs:
  - get
