---
# Source: kubeblocks/templates/rbac/cluster_pod_required_role.yaml
# permissions for end users to edit clusters.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubeblocks-cluster-pod-role
  labels:
    helm.sh/chart: kubeblocks-0.8.0-alpha.0
    app.kubernetes.io/name: kubeblocks
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.8.0-alpha.0"
    app.kubernetes.io/managed-by: Helm
aggregationRule:
  clusterRoleSelectors:
  - matchLabels:
      app.kubernetes.io/name: kubeblocks
      app.kubernetes.io/instance: release-name
      app.kubernetes.io/required-by: pod
---
# Source: kubeblocks/templates/rbac/cluster_pod_required_role.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubeblocks-lorry-pod-role
  labels:
    helm.sh/chart: kubeblocks-0.8.0-alpha.0
    app.kubernetes.io/name: kubeblocks
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.8.0-alpha.0"
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/required-by: pod
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - delete
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - clusters
  verbs:
  - get
  - list
- apiGroups:
  - apps.kubeblocks.io
  resources:
  - clusters/status
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
---
# Source: kubeblocks/templates/rbac/cluster_pod_required_role.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubeblocks-patroni-pod-role
  labels:
    helm.sh/chart: kubeblocks-0.8.0-alpha.0
    app.kubernetes.io/name: kubeblocks
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.8.0-alpha.0"
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/required-by: pod
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
  # delete is required only for 'patronictl remove'
  - delete
- apiGroups:
  - ""
  resources:
  - endpoints
  verbs:
  - get
  - patch
  - update
  - create
  - list
  - watch
  # delete is required only for 'patronictl remove'
  - delete
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - patch
  - update
  - watch
---
# Source: kubeblocks/templates/rbac/cluster_pod_required_role.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubeblocks-backup-pod-role
  labels:
    helm.sh/chart: kubeblocks-0.8.0-alpha.0
    app.kubernetes.io/name: kubeblocks
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.8.0-alpha.0"
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/required-by: pod
rules:
- apiGroups:
  - "dataprotection.kubeblocks.io"
  resources:
  - backups/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - "dataprotection.kubeblocks.io"
  resources:
  - backups
  verbs:
  - create
---
# Source: kubeblocks/templates/rbac/cluster_pod_required_role.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubeblocks-volume-protection-pod-role
  labels:
    helm.sh/chart: kubeblocks-0.8.0-alpha.0
    app.kubernetes.io/name: kubeblocks
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.8.0-alpha.0"
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/required-by: pod
rules:
- apiGroups:
    - ""
  resources:
    - nodes
    - nodes/stats
  verbs:
    - get
    - list
