apiVersion: v2
name: kubeblocks
description: KubeBlocks Core Controller Operator.
type: application
version: 0.6.0-beta.42
appVersion: 0.6.0-beta.42

kubeVersion: '>=1.22.0-0'

home: https://www.kubeblocks.io/
icon: https://kubeblocks.io/img/logo.png
keywords:
- kubernetes
- database
- streaming
- messsage queue
- paas
- platform

maintainers:
- name: ApeCloud
  url: https://github.com/apecloud/kubeblocks/

sources:
- https://github.com/apecloud/kubeblocks/

annotations:
  artifacthub.io/changes: ""
  artifacthub.io/links: ""
  artifacthub.io/operator: "true"
  artifacthub.io/prerelease: "true"

dependencies: []
