apiVersion: v2
name: kubeblocks
description: KubeBlocks Core Controller Operator.

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.4.0-alpha.0

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: 0.4.0


kubeVersion: '>=1.22.0-0'


home: https://www.kubeblocks.io/
icon: https://github.com/apecloud/kubeblocks/raw/main/img/logo.png
keywords:
- kubernetes
- database
- paas


maintainers:
- name: Your Name
  url: https://github.com/apecloud/kubeblocks/


sources:
- https://github.com/apecloud/kubeblocks/

annotations:
  artifacthub.io/changes: ""
  artifacthub.io/links: ""
  artifacthub.io/operator: "true"
  artifacthub.io/prerelease: "true"

dependencies:
  - condition: apecloud-mysql.enabled
    name: apecloud-mysql
    repository: file://../apecloud-mysql
    version: 0.1.*
  - condition: postgresql.enabled
    name: postgresql
    repository: file://../postgresql
    version: 0.1.*
  - condition: loadbalancer.enabled
    name: loadbalancer
    repository: file://../loadbalancer
    version: 0.1.*
  - condition: grafana.enabled
    name: grafana
    version: 6.43.*
  - condition: prometheus.enabled
    name: prometheus
    version: 15.15 - 15.16
  - condition: snapshot-controller.enabled
    name: snapshot-controller
    version: 1.*
  - condition: csi-s3.enabled
    name: csi-s3
    version: 0.*
