# API scope: namespaced

apiVersion: dbaas.kubeblocks.io/v1alpha1
kind: Cluster
metadata:
  name: mongo-cluster-idxxxxx
  namespace: default
spec:
  #  # ref ClusterDefinition, immutable
  #  clusterDefinitionRef: !<string>
  #  # ref AppVersion
  #  appVersionRef: !<string>
  #  components:
  #  - name: <string>
  #    # component name in ClusterDefinition
  #    type: <string>
  #    # default value in ClusterDefinition
  #    replicas: <string>
  #    # <pod.spec.containers[].resources>
  #    resources:
  #      request:
  #        cpu: 1000m
  #        memory: 2Gi
  #      limits:
  #        cpu: 1000m
  #        memory: 2Gi
  #    # type ServiceSpec struct from k8s.io/core/v1
  #      service:
  #        ports:
  #        - protocol: TCP
  #          port: 80
  #          targetPort: 9376
  #        type: LoadBalancer
  #    # <statefulset.spec.volumeClaimTemplates>
  #    volumeClaimTemplates:
  #      - metadata:
  #          name: data # ref AppVersion components.containers.volumeMounts.name
  #        spec:
  #          accessModes:
  #            - ReadWriteOnce
  #          resources:
  #            requests:
  #              storage: 1Gi
  #      - metadata:
  #          name: log
  #        spec: # <statefulset.spec.volumeClaimTemplates>
  #          accessModes:
  #            - ReadWriteOnce
  #          resources:
  #            requests:
  #              storage: 1Gi
  #   terminatingPolicy: <string> # [DoNotTerminate, Halt, Delete, WipeOut]
  # ref ClusterDefinition immutable
  clusterDefinitionRef: "a-vendor-mongodbcluster"
  # ref AppVersion
  appVersionRef: "appversion-mongodb-3.4"
  components:
    - name: mongos1
      type: mongos # component name in ClusterDefinition
      replicas: 1 # 修改即触发 scale 操作，如果个数不符合 definition 中的限制就报错
      # 修改即触发变配
      resources:
        requests:
          cpu: 1000m
          memory: 2Gi
        limits:
          cpu: 1000m
          memory: 2Gi
    - name: shard1
      type: shard
      replicas: 2
      resources:
        requests:
          cpu: 1000m
          memory: 2Gi
        limits:
          cpu: 1000m
          memory: 2Gi
      # <statefulset.spec.volumeClaimTemplates>
      volumeClaimTemplates:
        - metadata:
            name: data # ref AppVersion components.containers.volumeMounts.name
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 1Gi
        - metadata:
            name: log
          spec: # <statefulset.spec.volumeClaimTemplates>
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 1Gi
    - name: shard2
      type: shard
      replicas: 1
      resources:
        requests:
          cpu: 1000m
          memory: 2Gi
        limits:
          cpu: 1000m
          memory: 2Gi
      # <statefulset.spec.volumeClaimTemplates>
      volumeClaimTemplates:
        - metadata:
            name: data # ref AppVersion components.containers.volumeMounts.name
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 1Gi
        - metadata:
            name: log
          spec: # <statefulset.spec.volumeClaimTemplates>
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 1Gi
    - name: configserver1
      type: configserver
      replicas: 1
      resources:
        requests:
          cpu: 1000m
          memory: 2Gi
        limits:
          cpu: 1000m
          memory: 2Gi
  terminationPolicy: Halt


status:
  observedGeneration: 1
  phase: Running
  message: ""
  components:
    - # id - {metadata.name}-{component.type}-{auto_generated_id}
      # auto_generated_id 与 k8s deployment 的 id 生成方式一致
      id: mongo-cluster-idxxxxx-mongos-66b6c48dd5
      type: mongos
      # phase - in list of [Running, Failed, Creating, Upgrading, Scaling, Deleting, Deleted]
      phase: Running
      message: ""
    - id: mongo-cluster-idxxxxx-mongos-76b6c48dd5
      type: mongos
      phase: Running
    - id: mongo-cluster-idxxxxx-shard-86b6c48dd5
      type: shard
      phase: Running
      # role to pod name mapping when componentType is Consensus
      consensusSetStatus:
        leader: mongo-cluster-idxxxxx-shard1-1
        followers:
          - mongo-cluster-idxxxxx-shard1-0
          - mongo-cluster-idxxxxx-shard1-2