apiVersion: dbaas.infracreate.com/v1alpha1
kind: Cluster
metadata:
  name: mysql-cluster-01
  namespace: default
spec:
  clusterDefinitionRef: mysql-cluster-definition
  appVersionRef: appversion-mysql-latest
  affinity:
    topologyKeys:
      - kubernetes.io/hostname
  components:
  - name: replicasets
    type: replicasets
    roleGroups:
    - name: primary
      type: primary
      replicas: 3
    volumeClaimTemplates:
    - name: data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
    - name: log
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
