apiVersion: dbaas.kubeblocks.io/v1alpha1
kind: ClusterDefinition
metadata:
  name: apecloud-wesql
spec:
  type: state.mysql
  connectionCredential:
    username: root
    password: "$(RANDOM_PASSWD)"
  components:
    - typeName: replicasets
      minReplicas: 1
      characterType: mysql
      monitor:
        builtIn: false
      configSpec:
        configTemplateRefs:
          - name: mysql-tree-node-template-8.0
            configTplRef: mysql-tree-node-template-8.0
            configConstraintRef: mysql-tree-node-template-8.0
            volumeName: mysql-config
      componentType: Consensus
      consensusSpec:
        leader:
          name: leader
          accessMode: ReadWrite
        followers:
          - name: follower
            accessMode: Readonly
      defaultReplicas: 3
      horizontalScalePolicy:
        type: Snapshot
        backupTemplateSelector:
          "clusterdefinition.kubeblocks.io/name": apecloud-wesql
      probes:
        roleChangedProbe:
          periodSeconds: 10
      podSpec:
        volumes:
          - name: scripts
            configMap:
              name: wesql-scripts
        serviceAccountName: kubeblocks
        containers:
          - args:
              - /scripts/setup.sh
            command:
              - /bin/bash
            env:
              - name: MYSQL_ROOT_HOST
                value: '%'
              - name: MYSQL_ROOT_USER
                value: root
              - name: MYSQL_ROOT_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: $(CONN_CREDENTIAL_SECRET_NAME)
                    key: password
              - name: MYSQL_ALLOW_EMPTY_PASSWORD
                value: "yes"
              - name: MYSQL_DATABASE
                value: mydb
              - name: MYSQL_USER
                value: u1
              - name: MYSQL_PASSWORD
                value: u1
              - name: CLUSTER_ID
                value: "1"
              - name: CLUSTER_START_INDEX
                value: "1"
              - name: REPLICATIONUSER
                value: replicator
              - name: REPLICATION_PASSWORD
                value: ""
              - name: MYSQL_TEMPLATE_CONFIG
                value: ""
              - name: MYSQL_CUSTOM_CONFIG
                value: ""
              - name: MYSQL_DYNAMIC_CONFIG
                value: ""
            imagePullPolicy: IfNotPresent
            name: mysql
            ports:
              - containerPort: 3306
                name: mysql
                protocol: TCP
              - containerPort: 13306
                name: paxos
                protocol: TCP
            resources: {}
            volumeMounts:
              - mountPath: /data/mysql
                name: data
              - mountPath: /opt/mysql
                name: mysql-config
<<<<<<< HEAD
=======
              - name: scripts
                mountPath: /scripts
>>>>>>> main
