apiVersion: apps.kubeblocks.io/v1alpha1
kind: ClusterDefinition
metadata:
  name: vllm
  labels:
    {{- include "llm.labels" . | nindent 4}}
spec:
  componentDefs:
    - name: vllm
      workloadType: Stateful
      characterType: vllm
      scriptSpecs:
        - name: vllm-scripts
          templateRef: vllm-scripts
          namespace: {{ .Release.Namespace }}
          volumeName: scripts
          defaultMode: 493
      service:
        ports:
          - name: model
            port: 8080
            targetPort: model
      podSpec:
        volumes:
          - name: model-store
            emptyDir: {}
        containers:
          - name: vllm
            imagePullPolicy: {{default .Values.image.pullPolicy "IfNotPresent"}}
            securityContext:
              runAsUser: 0
            terminationMessagePath: /dev/termination-log
            terminationMessagePolicy: File
            volumeMounts:
              - mountPath: /llm/config/
                name: config
              - name: scripts
                mountPath: /scripts
              - mountPath: /llm/storage
                name: model-store
            command:
              - /scripts/start.sh
            ports:
              - name: model
                containerPort: 8080
  connectionCredential:
    username: root
    password: ""