apiVersion: apps.kubeblocks.io/v1alpha1
kind: ClusterVersion
metadata:
  name: vllm-baichuan-13b
  labels:
    {{- include "llm.labels" . | nindent 4 }}
spec:
  clusterDefinitionRef: vllm
  componentVersions:
    - componentDefRef: vllm
      versionsContext:
        containers:
          - name: vllm
            image:  {{ .Values.image.registry | default "docker.io" }}/{{ .Values.image.repository}}:{{ default .Chart.AppVersion .Values.image.tag }}
            env:
              - name: MODEL_NAME
                value: baichuan-inc/Baichuan-13B-Chat
              - name: EXTRA_ARGS
                value: "--trust-remote-code --gpu-memory-utilization 0.95"
---
apiVersion: apps.kubeblocks.io/v1alpha1
kind: ClusterVersion
metadata:
  name: vllm-baichuan-7b
  labels:
    {{- include "llm.labels" . | nindent 4 }}
spec:
  clusterDefinitionRef: vllm
  componentVersions:
    - componentDefRef: vllm
      versionsContext:
        containers:
          - name: vllm
            image:  {{ .Values.image.registry | default "docker.io" }}/{{ .Values.image.repository}}:{{ default .Chart.AppVersion .Values.image.tag }}
            env:
              - name: MODEL_NAME
                value: baichuan-inc/Baichuan-7B
              - name: EXTRA_ARGS
                value: "--trust-remote-code"
---
apiVersion: apps.kubeblocks.io/v1alpha1
kind: ClusterVersion
metadata:
  name: vllm-vicuna-13b
  labels:
    {{- include "llm.labels" . | nindent 4 }}
spec:
  clusterDefinitionRef: vllm
  componentVersions:
    - componentDefRef: vllm
      versionsContext:
        containers:
          - name: vllm
            image:  {{ .Values.image.registry | default "docker.io" }}/{{ .Values.image.repository}}:{{ default .Chart.AppVersion .Values.image.tag }}
            env:
              - name: MODEL_NAME
                value: lmsys/vicuna-13b-v1.3
              - name: EXTRA_ARGS
                value: "--trust-remote-code"
---
apiVersion: apps.kubeblocks.io/v1alpha1
kind: ClusterVersion
metadata:
  name: vllm-vicuna-7b
  labels:
    {{- include "llm.labels" . | nindent 4 }}
spec:
  clusterDefinitionRef: vllm
  componentVersions:
    - componentDefRef: vllm
      versionsContext:
        containers:
          - name: vllm
            image:  {{ .Values.image.registry | default "docker.io" }}/{{ .Values.image.repository}}:{{ default .Chart.AppVersion .Values.image.tag }}
            env:
              - name: MODEL_NAME
                value: lmsys/vicuna-7b-v1.5
              - name: EXTRA_ARGS
                value: "--trust-remote-code"
---
apiVersion: apps.kubeblocks.io/v1alpha1
kind: ClusterVersion
metadata:
  name: vllm-llama-70b
  labels:
    {{- include "llm.labels" . | nindent 4 }}
spec:
  clusterDefinitionRef: vllm
  componentVersions:
    - componentDefRef: vllm
      versionsContext:
        containers:
          - name: vllm
            image:  {{ .Values.image.registry | default "docker.io" }}/{{ .Values.image.repository}}:{{ default .Chart.AppVersion .Values.image.tag }}
            env:
              - name: MODEL_NAME
                value: upstage/SOLAR-0-70b-16bit
              - name: EXTRA_ARGS
                value: "--trust-remote-code --swap-space 1 --gpu-memory-utilization 0.95"
