# Default values for opensearch-cluster.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

## @param mode for elasticsearch cluster mode: single-node or multi-node
mode: multi-node

terminationPolicy: Delete

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi



nodeSelector: {}

tolerations: []

affinity: {}

topologyKeys:
- kubernetes.io/hostname

monitor:
  enabled: false

persistence:
  enabled: true
  data:
    storageClassName:
    size: 1Gi

metrics:
  resources: {}
  replicaCount: 1

serviceAccount:
  name:

ingress:
  enabled: false

service:
  type: ClusterIP

roles:  # template for different roles so we use a range loop
  - name: coordinating
    heapSize: 128m
    role: ""

  - name: ingest
    heapSize: 128m
    role: "ingest"
  
  - name: data
    heapSize: 1024m
    role: "data"

  - name: master
    heapSize: 128m
    role: "master"