# Default values for qdrant.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.


clusterVersionOverride: ""
nameOverride: ""
fullnameOverride: ""


## @param commonLabels Labels to add to all deployed objects
##
commonLabels: {}

## @param application images
##
images:
  registry: docker.io
  repository: qdrant/qdrant
  pullPolicy: IfNotPresent
  tag: latest
  tools:
    repository: apecloud/curl-jq
    tag: latest

## @param debugEnabled enables containers' debug logging
##
debugEnabled: true