apiVersion: apps.kubeblocks.io/v1alpha1
kind: BackupPolicyTemplate
metadata:
  name: qdrant-backup-policy-template
  labels:
    clusterdefinition.kubeblocks.io/name: qdrant
    {{- include "qdrant.labels" . | nindent 4 }}
spec:
  clusterDefinitionRef: qdrant
  backupPolicies:
  - componentDefRef: qdrant
    backupMethods:
    - name: datafile
      snapshotVolumes: false
      actionSetName: qdrant-snapshot
      targetVolumes:
        volumeMounts:
        - name: data
          mountPath: {{ .Values.dataMountPath }}
    - name: volume-snapshot
      snapshotVolumes: true
      targetVolumes:
        volumes:
        - data
    schedules:
    - backupMethod: datafile
      enabled: false
      cronExpression: "0 18 * * 0"
      retentionPeriod: 7d
    - backupMethod: volume-snapshot
      enabled: false
      cronExpression: "0 18 * * 0"
      retentionPeriod: 7d