---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: backuprepos.dataprotection.kubeblocks.io
spec:
  group: dataprotection.kubeblocks.io
  names:
    categories:
    - kubeblocks
    kind: BackupRepo
    listKind: BackupRepoList
    plural: backuprepos
    singular: backuprepo
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.phase
      name: STATUS
      type: string
    - jsonPath: .spec.storageProviderRef
      name: STORAGEPROVIDER
      type: string
    - jsonPath: .spec.accessMethod
      name: ACCESSMETHOD
      type: string
    - jsonPath: .status.isDefault
      name: DEFAULT
      type: boolean
    - jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: BackupRepo is a repository for storing backup data.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: BackupRepoSpec defines the desired state of `BackupRepo`.
            properties:
              accessMethod:
                default: Mount
                description: Specifies the access method of the backup repository.
                enum:
                - Mount
                - Tool
                type: string
              config:
                additionalProperties:
                  type: string
                description: Stores the non-secret configuration parameters for the
                  `StorageProvider`.
                type: object
              credential:
                description: References to the secret that holds the credentials for
                  the `StorageProvider`.
                properties:
                  name:
                    description: name is unique within a namespace to reference a
                      secret resource.
                    type: string
                  namespace:
                    description: namespace defines the space within which the secret
                      name must be unique.
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              pathPrefix:
                description: Specifies the prefix of the path for storing backup data.
                pattern: ^([a-zA-Z0-9-_]+/?)*$
                type: string
              pvReclaimPolicy:
                description: Specifies reclaim policy of the PV created by this backup
                  repository.
                enum:
                - Delete
                - Retain
                type: string
              storageProviderRef:
                description: Specifies the name of the `StorageProvider` used by this
                  backup repository.
                type: string
                x-kubernetes-validations:
                - message: StorageProviderRef is immutable
                  rule: self == oldSelf
              volumeCapacity:
                anyOf:
                - type: integer
                - type: string
                description: Specifies the capacity of the PVC created by this backup
                  repository.
                pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                x-kubernetes-int-or-string: true
            required:
            - pvReclaimPolicy
            - storageProviderRef
            type: object
          status:
            description: BackupRepoStatus defines the observed state of `BackupRepo`.
            properties:
              backupPVCName:
                description: Represents the name of the PVC that stores backup data.
                type: string
              conditions:
                description: Provides a detailed description of the current state
                  of the backup repository.
                items:
                  description: "Condition contains details for one aspect of the current
                    state of this API Resource.\n---\nThis struct is intended for
                    direct use as an array at the field path .status.conditions.  For
                    example,\n\n\n\ttype FooStatus struct{\n\t    // Represents the
                    observations of a foo's current state.\n\t    // Known .status.conditions.type
                    are: \"Available\", \"Progressing\", and \"Degraded\"\n\t    //
                    +patchMergeKey=type\n\t    // +patchStrategy=merge\n\t    // +listType=map\n\t
                    \   // +listMapKey=type\n\t    Conditions []metav1.Condition `json:\"conditions,omitempty\"
                    patchStrategy:\"merge\" patchMergeKey:\"type\" protobuf:\"bytes,1,rep,name=conditions\"`\n\n\n\t
                    \   // other fields\n\t}"
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: |-
                        type of condition in CamelCase or in foo.example.com/CamelCase.
                        ---
                        Many .condition.type values are consistent across resources like Available, but because arbitrary conditions can be
                        useful (see .node.status.conditions), the ability to deconflict is important.
                        The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              generatedCSIDriverSecret:
                description: Refers to the generated secret for the `StorageProvider`.
                properties:
                  name:
                    description: name is unique within a namespace to reference a
                      secret resource.
                    type: string
                  namespace:
                    description: namespace defines the space within which the secret
                      name must be unique.
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              generatedStorageClassName:
                description: Represents the name of the generated storage class.
                type: string
              isDefault:
                description: Indicates if this backup repository is the default one.\
                type: boolean
              observedGeneration:
                description: Represents the latest generation of the resource that
                  the controller has observed.
                format: int64
                type: integer
              phase:
                allOf:
                - enum:
                  - PreChecking
                  - Failed
                  - Ready
                  - Deleting
                - enum:
                  - PreChecking
                  - Failed
                  - Ready
                  - Deleting
                description: |-
                  Represents the current phase of reconciliation for the backup repository.
                  Permissible values are PreChecking, Failed, Ready, Deleting.
                type: string
              toolConfigSecretName:
                description: Represents the name of the secret that contains the configuration
                  for the tool.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
