apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.1
  labels:
    app.kubernetes.io/name: kubeblocks
  name: otelds.monitor.kubeblocks.io
spec:
  group: monitor.kubeblocks.io
  names:
    kind: OTeld
    listKind: OTeldList
    plural: otelds
    singular: oteld
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: OTeld is the Schema for the collectordatasources API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: OTeldSpec defines the desired state of CollectorDataSource
            properties:
              batch:
                properties:
                  enabled:
                    type: boolean
                type: object
              collectionInterval:
                default: 15s
                description: collectionInterval is the default collect interval of
                  the oteld collection
                type: string
              globalLabels:
                additionalProperties:
                  type: string
                description: globalLabels is the external labels add to OTeld metrics
                  and logs
                type: object
              image:
                description: image is the image of the oteld
                type: string
              logLevel:
                default: info
                description: logsLevel is the level of the oteld collector logs
                enum:
                - debug
                - info
                - warn
                - error
                - dpanic
                - panic
                - fatal
                type: string
              memoryLimiter:
                properties:
                  enabled:
                    description: MemoryLimit is the memory limit of the oteld
                    type: boolean
                type: object
              metricsPort:
                description: metricsPort is the port of the oteld metrics
                type: integer
              nodeSelector:
                additionalProperties:
                  type: string
                description: nodeSelector to schedule OpenTelemetry Collector pods.
                  This is only relevant to daemonset, statefulset, and deployment
                  mode
                type: object
              resources:
                description: resources is the resource requirements for the oteld
                properties:
                  claims:
                    description: "Claims lists the names of resources, defined in
                      spec.resourceClaims, that are used by this container. \n This
                      is an alpha field and requires enabling the DynamicResourceAllocation
                      feature gate. \n This field is immutable. It can only be set
                      for containers."
                    items:
                      description: ResourceClaim references one entry in PodSpec.ResourceClaims.
                      properties:
                        name:
                          description: Name must match the name of one entry in pod.spec.resourceClaims
                            of the Pod where this field is used. It makes that resource
                            available inside a container.
                          type: string
                      required:
                      - name
                      type: object
                    type: array
                    x-kubernetes-list-map-keys:
                    - name
                    x-kubernetes-list-type: map
                  limits:
                    additionalProperties:
                      anyOf:
                      - type: integer
                      - type: string
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    description: 'Limits describes the maximum amount of compute resources
                      allowed. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                    type: object
                  requests:
                    additionalProperties:
                      anyOf:
                      - type: integer
                      - type: string
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    description: 'Requests describes the minimum amount of compute
                      resources required. If Requests is omitted for a container,
                      it defaults to Limits if that is explicitly specified, otherwise
                      to an implementation-defined value. Requests cannot exceed Limits.
                      More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                    type: object
                type: object
              systemDataSource:
                description: systemDataSource is the system data source
                properties:
                  collectionInterval:
                    description: collectionInterval is the interval of the data source
                    type: string
                  enabledK8SClusterExporter:
                    description: enabledK8sClusterMetrics indicates whether to collect
                      k8s apiService metrics
                    type: boolean
                  enabledK8SKubeletExporter:
                    description: enabledK8sKubeletExporter indicates whether to collect
                      kubelet states metrics
                    type: boolean
                  enabledNodeExporter:
                    description: enabledNodeMetrics indicates whether to collect node
                      metrics
                    type: boolean
                  enabledPodLogs:
                    description: enabledPodLogs indicates whether to collect pod logs
                    type: boolean
                  logsExporterRef:
                    description: logsExporterRef is the exporter to export system
                      logs
                    items:
                      type: string
                    type: array
                  metricsExporterRef:
                    description: metricsExporterRef is the exporter to export system
                      metrics
                    items:
                      type: string
                    type: array
                type: object
              useConfigMap:
                description: useConfigMap indicates whether to use configmap to store
                  oteld config
                type: boolean
            type: object
          status:
            description: OTeldStatus defines the observed state of CollectorDataSource
            properties:
              conditions:
                description: conditions describes oteld detail status.
                items:
                  description: "Condition contains details for one aspect of the current
                    state of this API Resource. --- This struct is intended for direct
                    use as an array at the field path .status.conditions.  For example,
                    \n type FooStatus struct{ // Represents the observations of a
                    foo's current state. // Known .status.conditions.type are: \"Available\",
                    \"Progressing\", and \"Degraded\" // +patchMergeKey=type // +patchStrategy=merge
                    // +listType=map // +listMapKey=type Conditions []metav1.Condition
                    `json:\"conditions,omitempty\" patchStrategy:\"merge\" patchMergeKey:\"type\"
                    protobuf:\"bytes,1,rep,name=conditions\"` \n // other fields }"
                  properties:
                    lastTransitionTime:
                      description: lastTransitionTime is the last time the condition
                        transitioned from one status to another. This should be when
                        the underlying condition changed.  If that is not known, then
                        using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: message is a human readable message indicating
                        details about the transition. This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: observedGeneration represents the .metadata.generation
                        that the condition was set based upon. For instance, if .metadata.generation
                        is currently 12, but the .status.conditions[x].observedGeneration
                        is 9, the condition is out of date with respect to the current
                        state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: reason contains a programmatic identifier indicating
                        the reason for the condition's last transition. Producers
                        of specific condition types may define expected values and
                        meanings for this field, and whether the values are considered
                        a guaranteed API. The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                        --- Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important. The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              message:
                description: message describes cluster details message in current
                  phase.
                type: string
              observedGeneration:
                description: observedGeneration is the most recent generation observed
                  for this StatefulSet. It corresponds to the StatefulSet's generation,
                  which is updated on mutation by the API Server.
                format: int64
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
