# Default values for wesqlcluster.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: docker.io/apecloud/loadbalancer
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

replicaCount: 1

agent:
  rpcPort: 19200

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # TODO(user): Configure the resources accordingly based on the project requirements.
  # More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
  # limits:
  #   cpu: 500m
  #   memory: 128Mi
  # requests:
#   cpu: 10m
#   memory: 64Mi

nameOverride: ""
fullnameOverride: ""
enableDebugLog: true

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

imagePullSecrets: []

podAnnotations: {}

tolerations: []

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchLabels:
            app: loadbalancer
        topologyKey: kubernetes.io/hostname

nodeSelector:
  kubernetes.io/os: linux

podSecurityContext:
  privileged: true
  capabilities:
    add:
      - ALL
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_MODULE
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
