name: CICD-PULL-REQUEST

on:
  pull_request:


jobs:
  make-test:
    runs-on: [ self-hosted, aws-ec2-k8s-runner ]
    steps:
      - uses: actions/checkout@v3
      - name: make mod-vendor and lint
        run: |
          make mod-vendor
          make lint
          make staticcheck  

      - name: make test
        run: |
          make test
