name: CICD-PULL-REQUEST

on:
  pull_request:

jobs:
  make-test:
    runs-on: [ self-hosted, aws-eks-k8s-runner ]
    steps:
      - uses: actions/checkout@v3
      - name: make mod-vendor and lint
        run: |
          mkdir -p ./bin
          cp -r /go/bin/controller-gen ./bin/controller-gen
          make mod-vendor
          make lint

      - name: make test
        run: |
          make test
