name: CICD-PUSH

on:
  push:
    branches:
      - '*'
      - '*/*'
    tags-ignore:
      - '*'

env:
  GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}


jobs:
  pre-push:
    runs-on: ubuntu-latest
    name: Push Pre-Check
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: install pcregrep
        run: |
          sudo apt-get update
          sudo apt-get install pcregrep

      - name: gen pcregrep
        run: |
          pcregrep --exclude-dir=mtr -r -n -I '[^\x00-\x7f]' . > pcregrep.out

      - name: pcregrep Chinese
        run: |
          FILE_PATH=`git diff --name-only HEAD HEAD^`
          
          python ${{ github.workspace }}/.github/utils/pcregrep.py \
            --source="${{ github.workspace }}/pcregrep.out" \
            --filter="$FILE_PATH"

      - name: Spell Check with Typos
        uses: crate-ci/typos@v1.13.14
        with:
          files: ${{ github.workspace }}/docs/
          config: ${{ github.workspace }}/.github/utils/typos.toml


  make-test:
    needs: pre-push
    runs-on: [self-hosted, eks-fargate-runner ]
    steps:
      - uses: apecloud/checkout@main
      - name: make manifests check
        run: |
          SHA=${{ github.sha }}
          make manifests
          FILE_CHANGES=`git diff --name-only $SHA`
          if [[ ! -z "$FILE_CHANGES" ]]; then
            echo $FILE_CHANGES
            echo "make manifests causes inconsistent files"
            exit 1
          fi
      - name: make mod-vendor and lint
        run: |
          mkdir -p ./bin
          cp -r /go/bin/controller-gen ./bin/controller-gen
          cp -r /go/bin/setup-envtest ./bin/setup-envtest
          make mod-vendor lint

      - name: make test
        run: |
          make test

      - name: upload coverage report
        uses: codecov/codecov-action@v3
        continue-on-error: true
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./cover.out
          flags: unittests
          name: codecov-report
          verbose: true
