name: CICD-PUSH

on:
  push:
    branches:
      - '*'
      - '*/*'
    tags-ignore:
      - '*'

env:
  GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  GITLAB_GO_CACHE_PROJECT_ID: 98800
  GO_CACHE: "go-cache"
  GO_CACHE_DIR: "/root/.cache"

jobs:
  pre-push:
    runs-on: ubuntu-latest
    name: Push Pre-Check
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: install pcregrep
        run: |
          sudo apt-get update
          sudo apt-get install pcregrep

      - name: gen pcregrep
        run: |
          pcregrep --exclude-dir=mtr -r -n -I '[^\x00-\x7f]' . > pcregrep.out

      - name: pcregrep Chinese
        run: |
          FILE_PATH=`git diff --name-only HEAD HEAD^`
          
          python ${{ github.workspace }}/.github/utils/pcregrep.py \
            --source="${{ github.workspace }}/pcregrep.out" \
            --filter="$FILE_PATH"

      - name: Spell Check with Typos
        uses: crate-ci/typos@v1.13.14
        with:
          files: ${{ github.workspace }}/docs/
          config: ${{ github.workspace }}/.github/utils/typos.toml


  make-test:
    needs: pre-push
    runs-on: [self-hosted, eks-fargate-runner ]
    steps:
      - uses: apecloud/checkout@main
      - name: Download ${{ env.GO_CACHE }}
        if: ${{ github.ref_name == 'main' }}
        run: |
          bash .github/utils/release_gitlab.sh \
            --type 6 \
            --project-id ${{ env.GITLAB_GO_CACHE_PROJECT_ID }} \
            --tag-name ${{ env.GO_CACHE }} \
            --asset-name ${{ env.GO_CACHE }}.tar.gz \
            --access-token ${{ secrets.GITLAB_ACCESS_TOKEN }}

      - name: Extract ${{ env.GO_CACHE }}
        if: ${{ github.ref_name == 'main' }}
        uses: a7ul/tar-action@v1.1.3
        with:
          command: x
          cwd: ${{ env.GO_CACHE_DIR }}
          files: ${{ env.GO_CACHE }}.tar.gz

      - name: make manifests check
        run: |
          mkdir -p ./bin
          cp -r /go/bin/controller-gen ./bin/controller-gen
          cp -r /go/bin/setup-envtest ./bin/setup-envtest

          make manifests
          FILE_CHANGES=`git diff --name-only ${{ github.sha }}`
          if [[ ! -z "$FILE_CHANGES" ]]; then
            echo $FILE_CHANGES
            echo "make manifests causes inconsistent files"
            exit 1
          fi
      - name: make mod-vendor and lint
        run: |
          make mod-vendor lint

      - name: make test
        run: |
          make test

      - name: upload coverage report
        uses: codecov/codecov-action@v3
        continue-on-error: true
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./cover.out
          flags: unittests
          name: codecov-report
          verbose: true

      - name: Compress ${{ env.GO_CACHE }}
        if: ${{ github.ref_name != 'main' }}
        uses: a7ul/tar-action@v1.1.3
        with:
          command: c
          cwd: ${{ env.GO_CACHE_DIR }}
          files: |
            ./
          outPath: ${{ env.GO_CACHE }}.tar.gz

      - name: Upload ${{ env.GO_CACHE }} to gitlab
        if: ${{ github.ref_name != 'main' }}
        run: |
          bash .github/utils/release_gitlab.sh \
            --type 5 \
            --project-id ${{ env.GITLAB_GO_CACHE_PROJECT_ID }} \
            --tag-name ${{ env.GO_CACHE }} \
            --asset-path ${{ env.GO_CACHE }}.tar.gz \
            --access-token ${{ secrets.GITLAB_ACCESS_TOKEN }}
