name: E2E Test KBCLI

on:
  workflow_dispatch:
    inputs:
      CLUSTER_VERSION:
        description: 'eks cluster version (e.g. 1.25)'
        required: false
        default: '1.25'
        type: choice
        options:
          - 1.27
          - 1.26
          - 1.25
          - 1.24
      INSTANCE_TYPE:
        description: 'node instance types (e.g. amd64/arm64)'
        required: false
        default: 'amd64'
        type: choice
        options:
          - amd64
          - arm64
      VERSION:
        description: 'kubeblocks release version'
        required: true
        default: 'latest'
      BRANCH_NAME:
        description: 'testinfra branch name'
        required: false
        default: 'main'
      ARGS:
        description: 'kbcli test args'
        required: false
        default: ''

run-name: kbcli:${{ inputs.VERSION }} k8s:${{ inputs.CLUSTER_VERSION }}:${{ inputs.INSTANCE_TYPE }}

env:
  GH_TOKEN: ${{ github.token }}

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      release-version: ${{ steps.get_release_version.outputs.release_version }}
    steps:
      - uses: actions/checkout@v3
      - name: check release version
        id: get_release_version
        run: |
          RELEASE_VERSION=`bash .github/utils/utils.sh --type 18 \
              --tag-name "${{ inputs.VERSION }}"`
          if [[ -z "$RELEASE_VERSION" ]]; then
              echo "release version ${{ inputs.VERSION }} not exists"
              exit 1
          else
              echo $RELEASE_VERSION
              echo release_version=$RELEASE_VERSION >> $GITHUB_OUTPUT
          fi

  eks:
    needs: check
    uses: apecloud/apecloud-cd/.github/workflows/kbcli-test-eks.yml@v0.1.7
    with:
      CLUSTER_VERSION: "${{ inputs.CLUSTER_VERSION }}"
      INSTANCE_TYPE: "${{ inputs.INSTANCE_TYPE }}"
      KB_VERSION: "${{ needs.check.outputs.release-version }}"
      BRANCH_NAME: "${{ inputs.BRANCH_NAME }}"
      APECD_REF: "v0.1.7"
      ARGS: "${{ inputs.ARGS }}"
    secrets: inherit
