name: PULL-REQUEST-CHECK

on:
  pull_request_target:
    types: [ edited, opened ]

env:
  GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

jobs:
  pr-check:
    name: PR Pre-Check
    if: ${{ !(startsWith(github.head_ref, 'releasing-') && startsWith(github.base_ref, 'release-')) }}
    runs-on: ubuntu-latest
    steps:
      - name: check branch name
        uses: apecloud-inc/check-branch-name@v0.1.0
        if: github.event.pull_request.head.repo.full_name == github.repository
        with:
          branch_pattern: 'feature/|bugfix/|release/|hotfix/|support/|releasing/|dependabot/'
          comment_for_invalid_branch_name: 'This branch name is not following the standards: feature/|bugfix/|release/|hotfix/|support/|releasing/|dependabot/'
          fail_if_invalid_branch_name: 'true'
          ignore_branch_pattern: 'main|master'

      - name: check PR title
        uses: amannn/action-semantic-pull-request@v5

      - uses: actions/checkout@v4
      - name: check issue link
        run: |
          bash ${{ github.workspace }}/.github/utils/issue_link.sh \
            ${{ github.repository }} \
            ${{ github.repository_owner }} \
            ${{ github.event.pull_request.number }} \
            "${{ github.event.pull_request.title }}"
