name: RELEASE-PUBLISH

on:
  release:
    types:
      - published

env:
  GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  TAG_NAME: ${{ github.ref_name }}
  GO_VERSION: '1.19'
  CLI_NAME: 'kbcli'
  CLI_REPO: 'apecloud/kbcli'
  GITLAB_KBCLI_PROJECT_ID: 85948

jobs:
  create-release-kbcli:
    name: Create Release kbcli
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: create release ${{ env.CLI_NAME }}
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.TAG_NAME }}
          name: KubeBlocks ${{ env.TAG_NAME }}
          repository: ${{ env.CLI_REPO }}
          token: ${{ env.GITHUB_TOKEN }}
          prerelease: true
      - name: create gitlab release ${{ env.CLI_NAME }}
        run: |
          bash ${{ github.workspace }}/.github/utils/release_gitlab.sh \
            --type 1 \
            --project-id ${{ env.GITLAB_KBCLI_PROJECT_ID }} \
            --tag-name ${{ env.TAG_NAME }} \
            --access-token ${{ secrets.GITLAB_ACCESS_TOKEN }}
            

  upload-release-assert:
    needs: create-release-kbcli
    name: Upload ${{ matrix.os }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [linux-amd64, linux-arm64, darwin-amd64, darwin-arm64, windows-amd64]
    steps:
      - uses: actions/checkout@v3
      - name: install lib
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            libbtrfs-dev \
            libdevmapper-dev

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: make generate
        run: make generate

      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.3.2

      - name: make build
        env:
          CLI_BINARY: ${{ env.CLI_NAME }}-${{ matrix.os }}-${{ env.TAG_NAME }}.tar.gz
        run: |
          mkdir -p ${{ matrix.os }}
          
          CLI_OS_ARCH=`bash ${{ github.workspace }}/.github/utils/utils.sh \
            --tag-name ${{ matrix.os }} \
            --type 2`
          RELEASE_VERSION=`bash ${{ github.workspace }}/.github/utils/utils.sh \
            --tag-name ${{ env.TAG_NAME }} \
            --type 1`
          
          if [[ "${{ matrix.os }}" == *"windows"* ]]; then
            BINARY_EXT=".exe"
          else
            BINARY_EXT=""
          fi

          VERSION=$RELEASE_VERSION make bin/${{ env.CLI_NAME }}$CLI_OS_ARCH$BINARY_EXT
           
          mv bin/${{ env.CLI_NAME }}.$CLI_OS_ARCH.$BINARY_EXT ${{ matrix.os }}/${{ env.CLI_NAME }}$BINARY_EXT
          
          if [[ "${{ matrix.os }}" == *"windows"* ]]; then
            zip -r "${{ env.CLI_NAME }}-${{ matrix.os }}-${{ env.TAG_NAME }}.zip" "${{ matrix.os }}"
            mv ${{ env.CLI_NAME }}-${{ matrix.os }}-${{ env.TAG_NAME }}.zip bin/
          else
            tar -zcvf ${{ env.CLI_BINARY }} ${{ matrix.os }}
            mv ${{ env.CLI_BINARY }} bin/
          fi
        
          

      - name: upload release asset ${{ matrix.os }}
        uses: actions/upload-release-asset@main
        env:
          CLI_BINARY: ${{ env.CLI_NAME }}-${{ matrix.os }}-${{ env.TAG_NAME }}.tar.gz
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ./bin/${{ env.CLI_BINARY }}
          asset_name: ${{ env.CLI_BINARY }}
          asset_content_type: application/zip

      - name: get release kbcli upload url
        run: |
          echo 'UPLOAD_URL='`bash ${{ github.workspace }}/.github/utils/utils.sh \
            --tag-name ${{ env.TAG_NAME }} \
            --type 3 \
            --github-repo ${{ env.CLI_REPO }} \
            --github-token ${{ env.GITHUB_TOKEN }}` >> $GITHUB_ENV

      - name: upload release kbcli asset ${{ matrix.os }}
        uses: actions/upload-release-asset@main
        env:
          CLI_BINARY: ${{ env.CLI_NAME }}-${{ matrix.os }}-${{ env.TAG_NAME }}.tar.gz
        with:
          upload_url: ${{ env.UPLOAD_URL }}
          asset_path: ./bin/${{ env.CLI_BINARY }}
          asset_name: ${{ env.CLI_BINARY }}
          asset_content_type: application/zip

      - name: upload gitlab kbcli asset ${{ matrix.os }}
        env:
          CLI_BINARY: ${{ env.CLI_NAME }}-${{ matrix.os }}-${{ env.TAG_NAME }}.tar.gz
        run: |
          bash ${{ github.workspace }}/.github/utils/release_gitlab.sh \
            --type 2 \
            --project-id ${{ env.GITLAB_KBCLI_PROJECT_ID }} \
            --tag-name ${{ env.TAG_NAME }} \
            --asset-path ./bin/${{ env.CLI_BINARY }} \
            --asset-name ${{ env.CLI_BINARY }} \
            --access-token ${{ secrets.GITLAB_ACCESS_TOKEN }}
