name: RELEASE-SYNC

on:
  workflow_dispatch:
    inputs:
      sync_flag:
        description: 'sync flag (eg. sealos)'
        required: false
        default: ''
  release:
    types: [ released, prereleased ]

env:
  CLI_REPO: 'apecloud/kbcli'
  HELM_CHART_REPO: 'apecloud/helm-charts'
  GITLAB_KBCLI_PROJECT_ID: 85948
  GITLAB_ACCESS_TOKEN: ${{ secrets.GITLAB_ACCESS_TOKEN }}

jobs:
  update-release-kbcli:
    name: Update Release kbcli
    runs-on: ubuntu-latest
    outputs:
      release-version: ${{ steps.get_latest_version.outputs.release_version }}
    steps:
      - uses: actions/checkout@v4
      - name: update release ${{ env.CLI_NAME }} latest
        id: get_latest_version
        run: |
          LATEST_RELEASE_TAG=`bash ${{ github.workspace }}/.github/utils/utils.sh \
            --type 4 \
            --github-token ${{ secrets.PERSONAL_ACCESS_TOKEN }}`
          
          bash ${{ github.workspace }}/.github/utils/utils.sh \
            --type 5 \
            --tag-name $LATEST_RELEASE_TAG \
            --github-repo ${{ env.CLI_REPO }} \
            --github-token ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          
          HELM_CHART_LATEST_RELEASE_TAG="kubeblocks-${LATEST_RELEASE_TAG/v/}"
          
          bash ${{ github.workspace }}/.github/utils/utils.sh \
            --type 5 \
            --tag-name $HELM_CHART_LATEST_RELEASE_TAG \
            --github-repo ${{ env.HELM_CHART_REPO }} \
            --github-token ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          
          bash ${{ github.workspace }}/.github/utils/release_gitlab.sh \
            --type 4 \
            --tag-name $LATEST_RELEASE_TAG \
            --project-id ${{ env.GITLAB_KBCLI_PROJECT_ID }} \
            --access-token ${{ env.GITLAB_ACCESS_TOKEN }}
          
          echo release_version=$LATEST_RELEASE_TAG >> $GITHUB_OUTPUT

  release-homebrew-tap:
    needs: update-release-kbcli
    uses: apecloud/apecloud-cd/.github/workflows/trigger-workflow.yml@v0.1.1
    with:
      GITHUB_REPO: "apecloud/homebrew-tap"
      WORKFLOW_ID: "release.yml"
      VERSION: "${{ needs.update-release-kbcli.outputs.release-version }}"
      APECD_REF: "v0.1.1"
    secrets: inherit

  release-winget-kbcli:
    needs: update-release-kbcli
    if: github.event.action== 'released'
    uses: apecloud/apecloud-cd/.github/workflows/trigger-workflow.yml@v0.1.1
    with:
      GITHUB_REPO: "apecloud/apecloud-cd"
      WORKFLOW_ID: "publish-kbcli-winget.yml"
      VERSION: "${{ needs.update-release-kbcli.outputs.release-version }}"
      APECD_REF: "v0.1.1"
    secrets: inherit

  release-scoop-kbcli:
    needs: update-release-kbcli
    if: github.event.action== 'released'
    uses: apecloud/apecloud-cd/.github/workflows/trigger-workflow.yml@v0.1.1
    with:
      GITHUB_REPO: "apecloud/apecloud-cd"
      WORKFLOW_ID: "publish-kbcli-scoop.yml"
      VERSION: "${{ needs.update-release-kbcli.outputs.release-version }}"
      APECD_REF: "v0.1.1"
    secrets: inherit

  release-chocolatey-kbcli:
    needs: update-release-kbcli
    if: github.event.action== 'released'
    uses: apecloud/apecloud-cd/.github/workflows/trigger-workflow.yml@v0.1.1
    with:
      GITHUB_REPO: "apecloud/apecloud-cd"
      WORKFLOW_ID: "publish-kbcli-choco.yml"
      VERSION: "${{ needs.update-release-kbcli.outputs.release-version }}"
      APECD_REF: "v0.1.1"
    secrets: inherit

  release-sealos:
    needs: update-release-kbcli
    if: ${{ github.event.action== 'released' || inputs.sync_flag == 'sealos' }}
    uses: apecloud/apecloud-cd/.github/workflows/comment-issue.yml@v0.1.16
    with:
      GITHUB_REPO: "${{ vars.SEALOS_ISSUE_REPO }}"
      ISSUE_NUMBER: "${{ vars.SEALOS_ISSUE_NUMBER }}"
      ISSUE_COMMENT_BODY: "/imagebuild_apps kubeblocks ${{ needs.update-release-kbcli.outputs.release-version }}"
      APECD_REF: "v0.1.16"
    secrets: inherit
