name: RELEASE-PUBLISH

on:
  release:
    types:
      - published

env:
  GH_TOKEN: ${{ github.token }}
  RELEASE_VERSION: ${{ github.ref_name }}

jobs:
  release-kbcli:
    uses: apecloud/kbcli/.github/workflows/release-kbcli.yml@main
    with:
      KBCLI_REF: ${{ github.ref }}
    secrets: inherit

  release-message:
    runs-on: ubuntu-latest
    needs: release-kbcli
    outputs:
      content-result: ${{ steps.release_message.outputs.content_result }}
      release-version: ${{ steps.release_message.outputs.release_version }}
    if: ${{ always() && github.event.action == 'published' }}
    steps:
      - uses: actions/checkout@v4
      - name: release message
        id: release_message
        run: |
          ARTIFACT_KEY="${{ env.RELEASE_VERSION }}-kbcli"
          touch ${ARTIFACT_KEY}
          echo 'artifact_key='${ARTIFACT_KEY} >> $GITHUB_OUTPUT
          
          CONTENT="error"
          if [[ "${{ needs.release-kbcli.result }}" == "success" ]]; then
              CONTENT="success"
              echo "success" > ${ARTIFACT_KEY}
          else
              echo "error" > ${ARTIFACT_KEY}
          fi
          echo 'content_result='$CONTENT >> $GITHUB_OUTPUT
          echo release_version=${{ env.RELEASE_VERSION }} >> $GITHUB_OUTPUT

      - name: delete cache
        continue-on-error: true
        run: |
          bash .github/utils/utils.sh --type 17 --tag-name "${{ steps.release_message.outputs.artifact_key }}"

      - name: Save Artifact
        id: cache-artifact-save
        uses: actions/cache/save@v3
        with:
          path: |
            ${{ steps.release_message.outputs.artifact_key }}
          key: ${{ steps.release_message.outputs.artifact_key }}

  send-message:
    needs: [ release-message ]
    if: ${{ always() && github.event.action == 'published' }}
    uses: apecloud/apecloud-cd/.github/workflows/feishui-message.yml@v0.1.38
    with:
      TYPE: "2"
      CONTENT: "release kbcli ${{ needs.release-message.outputs.release-version }} ${{ needs.release-message.outputs.content-result }}"
      APECD_REF: "v0.1.38"
    secrets: inherit

  release-result:
    if: github.event.action == 'published'
    needs: [ release-message ]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        type: [image, kbcli, chart]
    steps:
      - name: Restore ${{ matrix.type }} Artifact
        id: cache-artifact-restore
        uses: actions/cache/restore@v3
        with:
          path: |
            ${{ env.RELEASE_VERSION }}-${{ matrix.type }}
          key: ${{ env.RELEASE_VERSION }}-${{ matrix.type }}

      - name: check release result
        run: |
          release_result=$( cat ${{ env.RELEASE_VERSION }}-${{ matrix.type }} )
          if [[ "$release_result" != "success" ]]; then
              exit 1
          fi

  e2e-kbcli:
    needs: [ release-message, release-result ]
    uses: apecloud/apecloud-cd/.github/workflows/trigger-workflow.yml@v0.1.35
    strategy:
      fail-fast: false
      matrix:
        test-type: [ apecloud-mysql|postgresql|redis|mongodb|kafka|pulsar|weaviate|qdrant|smartengine|mysqlscale|tidb|xinference , greptimedb|nebula|risingwave|starrocks|etcd|oceanbase|foxlake|oracle-mysql|asmysql|openldap|milvus|clickhouse , polardbx|pika|opensearch|elasticsearch|tdengine|vllm|orioledb|official-pg|ggml|zookeeper|mariadb ]
    with:
      GITHUB_REPO: "apecloud/kubeblocks"
      BRANCH_NAME: "main"
      WORKFLOW_ID: "e2e-kbcli.yml"
      APECD_REF: "v0.1.35"
      VERSION: "${{ needs.release-message.outputs.release-version }}"
      EXTRA_ARGS: "TEST_TYPE=${{ matrix.test-type }}"
    secrets: inherit

  delete-cache:
    needs: e2e-kbcli
    runs-on: ubuntu-latest
    strategy:
      matrix:
        type: [image, kbcli, chart]
    steps:
      - uses: actions/checkout@v4
      - name: delete ${{ matrix.type }} cache
        continue-on-error: true
        run: |
          bash .github/utils/utils.sh --type 17 --tag-name "${{ env.RELEASE_VERSION }}-${{ matrix.type }}"
