name: RELEASE-CHART

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'The release version of helm chart'
        required: true
        default: ''
  release:
    types:
      - published

env:
  GH_TOKEN: ${{ github.token }}
  RELEASE_VERSION: ${{ github.ref_name }}

jobs:
  release-version:
    runs-on: ubuntu-latest
    outputs:
      release-version: ${{ steps.get_release_version.outputs.release_version }}
      release-version-bump: ${{ steps.get_release_version.outputs.release_version_bump }}
    steps:
      - name: Get Release Version
        id: get_release_version
        run: |
          RELEASE_VERSION=${{ inputs.release_version }}
          if [ -z "$RELEASE_VERSION" ]; then
              RELEASE_VERSION=${{ env.RELEASE_VERSION }}
          fi
          echo release_version=$RELEASE_VERSION >> $GITHUB_OUTPUT
          RELEASE_VERSION_BUMP="${RELEASE_VERSION/v/}"
          echo release_version_bump=$RELEASE_VERSION_BUMP >> $GITHUB_OUTPUT

  release-chart:
    needs: [ release-version ]
    uses: apecloud/apecloud-cd/.github/workflows/release-charts.yml@v0.1.43
    with:
      MAKE_OPS: "bump-chart-ver"
      VERSION: "${{ needs.release-version.outputs.release-version }}"
      CHART_NAME: "kubeblocks"
      CHART_DIR: "deploy/helm"
      APECD_REF: "v0.1.43"
      MAKE_OPS_POST: "install"
      GO_VERSION: "1.21"
    secrets: inherit

  release-addons-chart:
    needs: [ release-chart ]
    uses: apecloud/apecloud-cd/.github/workflows/release-charts.yml@v0.1.52
    with:
      GITHUB_REPO: "apecloud/kubeblocks-addons"
      GITHUB_REF: ${{ github.ref }}
      CHART_DIR: "addons"
      APECD_REF: "v0.1.52"
      ENABLE_JIHU: false
    secrets: inherit

  release-addons-chart-jihu:
    strategy:
      fail-fast: false
      matrix:
        addon-name: [ apecloud-mysql, apecloud-mysql-cluster, apecloud-postgresql, apecloud-postgresql-cluster,
                      clickhouse, clickhouse-cluster, elasticsearch, elasticsearch-cluster, etcd, etcd-cluster,
                      flink, flink-cluster, foxlake, foxlake-cluster, greptimedb, greptimedb-cluster, influxdb,
                      kafka, kafka-cluster, llm, llm-cluster, mariadb, mariadb-cluster, milvus, milvus-cluster,
                      minio, minio-cluster, mongodb, mongodb-cluster, mongodb-sharding-cluster, mysql, mysql-cluster,
                      nebula, nebula-cluster, neon, neon-cluster, oceanbase, oceanbase-cluster, official-postgresql,
                      official-postgresql-cluster, opengauss, opengauss-cluster, openldap, openldap-cluster,
                      opensearch, opensearch-cluster, oracle, oracle-cluster, oracle-mysql, oracle-mysql-cluster,
                      orioledb, orioledb-cluster, polardbx, polardbx-cluster, postgresql, postgresql-cluster,
                      pulsar, pulsar-cluster, qdrant, qdrant-cluster, redis, redis-cluster, risingwave, risingwave-cluster,
                      starrocks, starrocks-cluster, tdengine, tdengine-cluster, tidb, tidb-cluster, weaviate,
                      weaviate-cluster, xinference, xinference-cluster, zookeeper, zookeeper-cluster ]
    uses: apecloud/apecloud-cd/.github/workflows/release-charts-jihu.yml@v0.1.52
    with:
      GITHUB_REPO: "apecloud/kubeblocks-addons"
      GITHUB_REF: ${{ github.ref }}
      CHART_DIR: "addons"
      SPECIFY_CHART: "${{ matrix.addon-name }}"
      APECD_REF: "v0.1.52"
    secrets: inherit

  release-charts-image:
    needs: [ release-version, release-addons-chart-jihu ]
    uses: apecloud/apecloud-cd/.github/workflows/release-image-cache.yml@v0.1.24
    with:
      MAKE_OPS_PRE: "helm-package VERSION=${{ needs.release-version.outputs.release-version-bump }}"
      IMG: "apecloud/kubeblocks-charts"
      VERSION: "${{ needs.release-version.outputs.release-version }}"
      GO_VERSION: "1.21"
      APECD_REF: "v0.1.24"
      DOCKERFILE_PATH: "./docker/Dockerfile-charts"
    secrets: inherit

  release-message:
    runs-on: ubuntu-latest
    needs: [ release-chart, release-charts-image ]
    outputs:
      content-result: ${{ steps.release_message.outputs.content_result }}
      release-version: ${{ steps.release_message.outputs.release_version }}
    if: ${{ always() && github.event.action == 'published' }}
    steps:
      - uses: actions/checkout@v4
      - name: release message
        id: release_message
        run: |
          ARTIFACT_KEY="${{ env.RELEASE_VERSION }}-chart"
          touch ${ARTIFACT_KEY}
          echo 'artifact_key='${ARTIFACT_KEY} >> $GITHUB_OUTPUT
          
          CONTENT="error"
          if [[ "${{ needs.release-charts-image.result }}" == "success" ]]; then
              CONTENT="success"
              echo "success" > ${ARTIFACT_KEY}
          else
              echo "error" > ${ARTIFACT_KEY}
          fi
          echo 'content_result='$CONTENT >> $GITHUB_OUTPUT
          echo release_version=${{ env.RELEASE_VERSION }} >> $GITHUB_OUTPUT

      - name: delete cache
        continue-on-error: true
        run: |
          bash .github/utils/utils.sh --type 17 --tag-name "${{ steps.release_message.outputs.artifact_key }}"

      - name: Save Artifact
        id: cache-artifact-save
        uses: actions/cache/save@v3
        with:
          path: |
            ${{ steps.release_message.outputs.artifact_key }}
          key: ${{ steps.release_message.outputs.artifact_key }}

  send-message:
    needs: [ release-message ]
    if: ${{ always() && github.event.action == 'published' }}
    uses: apecloud/apecloud-cd/.github/workflows/feishui-message.yml@v0.1.38
    with:
      TYPE: "2"
      CONTENT: "release chart ${{ needs.release-message.outputs.release-version }} ${{ needs.release-message.outputs.content-result }}"
      APECD_REF: "v0.1.38"
    secrets: inherit



